.App {
  text-align: center;
  

}

.NavContainer {
  background-color:#404d64;
  float:left;
  
}
.BodyContainer {
  background-color:#404d64;
  float:left;
  margin-left:20px;
  width:700px;
  color:#abb6c9;
}
.Navbutton {
  float:left;
  background-color:#404d64;
  width:100px;
  color: aliceblue;
  height:40px;
}

table, th, td {
  border: 1px solid black;
}
ul {
  list-style-type: none;
  margin: 110px;
}
li {
  margin:20px;
  padding: 10px;
}
.link {
  text-decoration: none;
  color: aliceblue;
}