.App {
  text-align: center;
  
}

.NavContainer {
  background-color:#404d64;
  float:left;
  
}
.BodyContainer {
  background-color:#404d64;
  float:left;
  margin-left:20px;
  width:700px;
  color:#abb6c9;
}
.Navbutton {
  float:left;
  background-color:#404d64;
  width:100px;
  color: aliceblue;
  height:40px;
}

table, th, td {
  border: 1px solid black;
}
ul {
  list-style-type: none;
  margin: 110px;
}
li {
  margin:20px;
  padding: 10px;
}
.link {
  text-decoration: none;
  color: aliceblue;
}
table {
  background-color: #8c8e92;
  margin-left: 20px;
}
tr {
  height:30px;
}
button {  
  background-color: #b7b9bd;
}
.addButton {
  margin-bottom: 10px;
  height:30px;
}
.addModal {
  height:170px;
  width:400px;
  background-color: rgb(154, 160, 158);
  margin-top:350px;
  margin-left:100px;
  padding-left:10px;
  padding-top:10px;
}
input {
  width: 90%;
  height:25px;
  margin-bottom:15px;
  border: 1px solid rgb(116, 114, 114);
  
}
.inputButton {
  margin: 2px;
  height:30px;
  
}
p {
  color: #06080c;
}